html {
    background-color: #E8E9EE;
}

body {
    font-family: "Helvetica Neue", "Helvetica";
}

#title {
    margin: 30px;
    font-size:40px;
    text-align:center;
}

#vidArea {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#controls {
    visibility: hidden;
}

#videoDiv {
    width: 720px;
    height: 405px;
}

#bars {
    position: relative;
    height: 20px;
    width: 720px;
}

#startMarkBar, #endMarkBar {
    background-color: DarkGray;
    height: 15px;
    display: inline;
    width: 0px;
    z-index: -1;
}

#endMarkBar {
    float: right;
}

#startMarkBar {
    float: left;
}

#startMark, #endMark {
    position: absolute;
    top: 0px;
    cursor: col-resize;
    height: 15px;
    width: 9px;
    z-index: 1;
}

#startMark {
    background-color: #00004C;
    left: 0px;
}

#endMark {
    background-color: #4C0F00;
    left: 711px;
}

#vidUrl {
    width:250px;
}

#inputErr {
    color: red;
    font-size: 10px;
    display: none;
    text-align: center;
}

#inputForm {
    display: table;
    margin-left: auto;
    margin-right: auto;
} 

#startForm {
    display: inline;
}

#endForm {
    display:inline;
    float: right;
}

#endTime, #startTime {
    width: 80px;
    margin: 0px;
}

#playButton {
    display: inline;
    margin-left: 245px;
    margin-right: 245px;
}

#result {
}

#resultURL {
    width: 400px;
}

#controls > input {
    margin: 10px 0px 10px;
}

.option {
    margin-right: 10px;
    margin-left: 5px;
}
